body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    min-height: 100vh;
}
h1{
    animation: salom 5s linear infinite;
    border: 1px solid white;
    padding: 10px;
    margin: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
@keyframes salom {
    0%{
        color: red;
        background-color: blue;
        transform: rotate(350deg);
    }
    15%{
        color: blue;
        background-color: red;
    }
    20%{
        color: aqua;
        background-color: black;
    }
    35%{
        color: black;
        background-color: aqua;
    }
    40%{
        color: pink;
        background-color: red;
    }
    50%{
        color: red;
        background-color: pink;
    }
}